{% load static %}

<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <button>Cargar Masivamente</button>

  {% if productos %}
  <table class="default">
    <tr>
      <th>Codigo producto</th>
      <th>nombre</th>
      <th>proveedor</th>
      <th>categoria</th>
      <th>cantidad en cada unidad</th>
      <th>valor peso</th>
      <th>valor euro</th>
      <th>stock</th>
    </tr>


    <!-- TODO: ARREGLAR TABLA -->
    {% for producto in productos %}
     <p>{{ producto.nombreproducto }}</p>
    {% endfor %}
  </table>
  {% else %}
  <p>{{ error }}</p>
  {% endif %}
</body>
